html, body {
    width:100vw; 
    background: #fff;
    font-family: "Verdana", Georgia, Serif;
}

h3 {
     margin-left: 50px;
}


input[type=text], input[type=email], textarea, input[type=password], input[type=date]{
    width: 50vw;
    height:50px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    margin: 15px auto;
    display: block;
}


input[type=submit], button[type=submit] {
    background-color: #4CAF50;
    color: white;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid #f5c485ec;
    width: 50vw;
    height:50px;
    margin: 15px auto;
    padding: 4px 10px;
    display: block;
    cursor: pointer;
}

/* invalid / valid */
input:invalid {
    color: red;
}
input:valid {
   color: green;
}

input[type=submit]:hover {
    background-color: #4553a0;
}

#container{ 
    display: block;
    padding: 20px;
    width: 60vw;
    margin: 40px auto;
    border: 5px solid #f4f5efe7;
    border-radius: 10px;
    background-color: rgb(203, 236, 208);
    
}

  #logo {
    width: 70px; /* Width of new image */
    height: 70px; /* Height of new image */
    border:0px solid black;
    border-radius: 2;
    float: right;
    margin-top: -90px;
}


  /* Device = Tablets, Ipads (portrait) */

  @media (min-width: 412px) and (max-width: 732px ) and (orientation: portrait){
}
    /* Device = Tablets, Ipads (landscape) */
 @media (min-width: 412px) and (max-width: 732px ) and (orientation: landscape){
    }
 /* Device = Tablets, Ipads (portrait) */
  @Media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  
  }
  
  /* ##Device = Tablets, Ipads (landscape) */
  
  @Media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  }
  
  /* Most of the Smartphones Mobiles (Portrait) */
  
  @Media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    #logo{
        
         display: none;
     }
  }
  
  /* ##Device = Mobiles (Landscape) */
  
  @Media (min-width: 481px) and (max-width: 767px) and (orientation: landscape){
    #logo{
        
         display: none;
     }
  }


